torch
torchvision
numpy
rembg
opencv-contrib-python
diffusers==0.20.2
transformers==4.29.2
streamlit==1.22.0
altair<5
huggingface_hub
git+https://github.com/facebookresearch/segment-anything.git
gradio>=3.50
fire